version: "3.3"

services:
  image-cleaner:
    image: omerha/docker-image-cleaner:latest
    networks:
      - image-cleaner
    environment:
      - TIME_INTERVAL=5s
      - FILTER='alpine:latest,your-image:tag'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      mode: global
      restart_policy:
        condition: any
      resources:
        limits:
          cpus: '0.1'
          memory: 50M

networks:
  image-cleaner: