version: "2.2"

services:
  image-cleaner:
    image: omerha/docker-image-cleaner:latest
    environment:
      - TIME_INTERVAL=6h
      - FILTER='omerha/docker-image-cleaner:latest,your-image:tag'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    mem_limit: 50m
    cpus: 0.1 